[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
pytesseract = "*"
opencv-python = "*"
flask = "*"
flask-jsonpify = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
"pdf2jpg" = "*"
wand = "*"

[dev-packages]

[requires]
python_version = "3.6"
